<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="./css/normalize.css">
        <link rel="stylesheet" type="text/css" href="./css/my.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    </head>

    <body>
        <p id="name">Jane Smith</p>
        <!-- <img src="../img/1/blender.jpg" id="avatar"> -->
        <p id="bio">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <div id="main_edit">
        
        </div>
<div id='feed'></div>    
    </body>
        
    <div class="nav">
        <ul>
            <li><a href="post.html"><img class="nav_img" src="./img/camera.png" id="post"></a></li>
            <li><a href="#/user"><img class="nav_img" src="./img/person.png" id="profile"></a></li>
            <li><a href="#/feed"><img class="nav_img" src="./img/home.png" id="profile"></a></li>
            <li><a href="search.html"><img class="nav_img" src="./img/mag_glass.png" id="post"></a></li>
        </ul>
        </div>
        
    </body>
    <script>
    $(document).ready(function(){
        
           $.ajax({
               url:"controller/feed.php",
                type:"POST",
                dataType:"json",
                data: {
                    method:"getfeed"
                },
                success:function(resp){
                    //alert("Got all images!");
                    console.log(resp);
                    
                    for(var i = 0; i<resp.length; i++){
                        var id = resp[i].id;
                        var thediv = document.getElementById("feed");  
                        var m_editdiv = document.getElementById("main_edit");
                        var div = document.createElement("div"); 
                        var editdiv = document.createElement("div"); 
                        var location = document.createElement("p");    
                        var h3 = document.createElement("p");
                        var image = document.createElement("img");
                        var tags = document.createElement("p");
                        var edit_butt = document.createElement("BUTTON");
                        var t = document.createTextNode("Edit");
                            edit_butt.appendChild(t); 
                        var delete_butt = document.createElement("BUTTON");
                        var t2 = document.createTextNode("Delete");
                            delete_butt.appendChild(t2); 
                        
                        var save_butt = document.createElement("BUTTON");
                        var t4 = document.createTextNode("Save");
                            save_butt.appendChild(t4); 
                        var input_title = document.createElement("input");
                                input_title.type = "text";
                                input_title.id="title_i"+id;
                            editdiv.appendChild(input_title);
                                input_title.value = resp[i].title;
                        
                        var file_butt = document.createElement("BUTTON");
                        var t7 = document.createTextNode("Upload New Image");
                        file_butt.appendChild(t7);
                        file_butt.setAttribute("type", "file");
                        editdiv.appendChild(file_butt);
                        
                        var input_location = document.createElement("input");
                        input_location.type = "text";
                        input_location.id="location_i"+id;
                        editdiv.appendChild(input_location);
                        input_location.value = resp[i].location;
                        
                        var input_tags = document.createElement("input");
                        input_tags.type = "text";
                        editdiv.appendChild(input_tags);
                        input_tags.id="tag_i"+id;
                        input_tags.value = resp[i].tags;

                        h3.innerHTML = resp[i].title;
                        image.src = "./img/1/" +resp[i].path;
                        location.innerHTML = resp[i].location;
                        tags.innerHTML = resp[i].tags;
                        edit_butt.class= id;
                        editdiv.class=id;
                        
                        feed.appendChild(div);

                        m_editdiv.appendChild(editdiv);

                        editdiv.appendChild(image);
                        editdiv.appendChild(save_butt);
                        
                        editdiv.style.marginLeft = "40%";
                        location.style.fontSize = "20pt";
                        location.style.marginTop = "0";
                        h3.style.fontSize = "20pt";
                        h3.style.marginBottom = "0";
                        tags.style.marginTop = "-20px";
                        tags.style.fontSize = "10pt";
                        save_butt.id = "savebutt"+id; 
         
 document.getElementById("savebutt"+id).onclick = function(){
     for(var i = 0; i<resp.length; i++){
       var id = resp[i].id;
           $.ajax({
               url:"controller/editimage.php",
                type: "POST",
                dataType: "json",
                        data: {
                            method: "editimage",
                            title:document.getElementById("title_i"+id).value,
                            location:document.getElementById("location_i"+id).value,
                            tags:document.getElementById("tag_i"+id).value,
                            id:id
                                 
                        },
                        success:function(resp4){
                               if (resp4 == "success") {
                                    alert ("Updated"); 
                                }
                        
                        },
                        error:function(error){
                            console.log(error);
                        }
                            
                            
                    });
                    }
                    }
                }  
            }
        });   
    });
    </script>


</html>